	body{
		background-color:black;
	}
    #header{
        font-family: 'Permanent Marker', cursive;
        color: white;
    }
	#container{
		background: url('spacebg.jpg');
		width:800px;
		height:550px;
	}
	#hero{
		background: url('spaceshipsprite.png');
		background-position: -1px -1px;
		width:62px;
		height:59px;
		position:absolute;
	}
	.enemy1{
		background: url('enemy.png');
		background-position: -70px 0px;
		width:37px;
		height:32px;
		position:absolute;
	}

	.bullet{
		background: url('1942.gif');
		background-position: -185px -400px;
		width:18px;
		height:18px;
		position:absolute;
	}
	#score{
		position:absolute;
		border:10px solid red;
		top:20px;
		left:850px;
		background-color:white;
		padding:10px;
		font-size:30px;
		font-family: Arial;	
	}
    .explosion{
        background: url('1942.gif');
        background-position: -88px -42px;
        width: 24px;
        height: 24px;
        position: absolute;
    }
    .losepoints{
        color: red;
        font-size: 1.875em;
    }
    .planehit{
        background: url('1942.gif');
        background-position: -41px -42px;
        width: 16px;
        height: 16px;
        position: absolute;
    }